.App {
  margin: 50px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #e5b684;
}

::-webkit-scrollbar-thumb:hover {
  background: #b5926d;
}